@{
    ViewData["Title"] = "Home Page";
}
@model List<Bowler>

<h1>Bowlers</h1>

<div class="float-right">
    <a class="btn btn-primary" asp-action="Form">Add Bowler</a>
    <a class="btn btn-danger" href="#">Delete Bowler</a>
</div>
<br />
<br />
<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th>Bowler ID</th>
            <th>First Name</th>
            <th>Middle</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Phone Number</th>
            <th>Edit Bowler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model)
        {
        <tr>
            <td>@b.BowlerID</td>
            <td>@b.BowlerFirstName</td>
            <td>@b.BowlerMiddleInit</td>
            <td>@b.BowlerLastName</td>
            <td>@b.BowlerAddress</td>
            <td>@b.BowlerCity</td>
            <td>@b.BowlerState</td>
            <td>@b.BowlerZip</td>
            <td>@b.BowlerPhoneNumber</td>
            <td><a class="btn btn-light" href="#">Edit</a></td>
        </tr>
        }
    </tbody>
</table>

